<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foot_traffic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light">
        <activity
            android:name=".OrderHistory"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ShoeDetail"
            android:exported="false" />
        <activity
            android:name=".LocationSensor"
            android:exported="false" />
        <activity
            android:name=".MyAccount"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MAdidasNested"
            android:exported="false" />
        <activity
            android:name=".MNikeNested"
            android:exported="false" />
        <activity
            android:name=".MSelvatoreFerragamoNested"
            android:exported="false" />
        <activity
            android:name=".MJohnLobbsNested"
            android:exported="false" />
        <activity
            android:name=".MOxfordNested"
            android:exported="false" />
        <activity
            android:name=".MDrCardinNested"
            android:exported="false" />
        <activity
            android:name=".WAdidasNested"
            android:exported="false" />
        <activity
            android:name=".WNikeNested"
            android:exported="false" />
        <activity
            android:name=".WSelvatoreFerragamoNested"
            android:exported="false" />
        <activity
            android:name=".WSergioRossiNested"
            android:exported="false" />
        <activity
            android:name=".WJimmyChooNested"
            android:exported="false" />
        <activity
            android:name=".WAldoNested"
            android:exported="false" />
        <activity
            android:name=".KKeenNested"
            android:exported="false" />
        <activity
            android:name=".KNikeNested"
            android:exported="false" />
        <activity
            android:name=".KAdidasNested"
            android:exported="false" />
        <activity
            android:name=".KTomsNested"
            android:exported="false" />
        <activity
            android:name=".KHushPuppiesNested"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>